// @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');


.process{
    margin: auto;
    padding: auto;
}
// .set-font{
//     font-family: 'Kanit', sans-serif;
// }
.my-custom-menu{
    width: 500px;
  }
  
  ion-content.background{
    --background: url(https://images.squarespace-cdn.com/content/v1/533c5d21e4b066cfacb69a2e/1565151940344-RRV3UM12ELKMOT29T204/ke17ZwdGBToddI8pDm48kLkXF2pIyv_F2eUT9F60jBl7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0iyqMbMesKd95J-X4EagrgU9L3Sa3U8cogeb0tjXbfawd0urKshkc5MgdBeJmALQKw/hermes-rivera-Ww8eQWjMJWk-unsplash.jpg?format=2500w) no-repeat center/cover fixed;
  }


.image-silder{
  margin: auto;
  padding-right: 15px;
  padding-left: 15px;
}