.star{
    margin-top: 20px;
    width: 30px; 
    height: 30px;
    text-shadow: 10px 10px 5px grey;
}

ion-content.background{
    --background: url(https://images.unsplash.com/photo-1572231754710-4bed19649091?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=675&q=80) no-repeat center/cover fixed;
    opacity: 0.8;

}

